<h2>Register to get started!</h2>

<form class="register-form">
  <div class="mb-3">
    <label for="name-login" class="form-label">Name</label>
    <input type="text" class="form-control" id="name-login">
  </div>
  <div class="mb-3">
    <label for="email-login" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/js/register.js"></script>
